@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-grey: #6d6d6d;
    --text-white: #fff;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    font-family: inherit;
}

.dropdown-menu[data-bs-popper] {
    left: unset;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0.3rem;
}

header {
    min-height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-grey);
}

.nav-link,
.dropdown-item {
    font-size: 1.4rem;
}

.navbar-nav .nav-link.active {
    font-weight: 500;
}

.dropdown-item.active {
    background-color: #e6e6e6;
    color: var(--text-grey);
}

main {
    height: 100vh;
}

main .hero {
    height: 100%;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero .hero-content {
    text-align: center;
}

.hero .hero-content .main-heading {
    margin-top: 8rem;
    font-size: 3.3rem;
    font-weight: 900;
    color: var(--text-white);
    line-height: 1.7;
}

.hero .hero-content .subheading {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-white);
}

.hero .hero-content .hero-cta {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.2rem 2rem;
    color: var(--text-white);
    border: 1px solid var(--text-white);
    outline: none;
    text-decoration: none;
    width: 18rem;
    transition: all 0.3s ease-in-out;
}

.hero .hero-content .hero-cta > i {
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

.hero .hero-content .hero-cta:hover {
    background-color: var(--text-white);
    color: var(--text-grey);
}
