* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-family: inherit;
}

.dropdown-menu[data-bs-popper] {
    left: unset;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0.3rem;
}

header {
    min-height: 4rem;
    display: flex;
    align-items: center;
}
